In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
train_df = pd.read_csv('input/train.csv')
test_df = pd.read_csv('input/test.csv')
spray_df = pd.read_csv('input/spray.csv')
weather_df = pd.read_csv('input/weather.csv')

In [58]:
spray_df.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [59]:
spray_df

             Date        Time   Latitude  Longitude
0      2011-08-29  6:56:58 PM  42.391623 -88.089163
1      2011-08-29  6:57:08 PM  42.391348 -88.089163
2      2011-08-29  6:57:18 PM  42.391022 -88.089157
3      2011-08-29  6:57:28 PM  42.390637 -88.089158
4      2011-08-29  6:57:38 PM  42.390410 -88.088858
...           ...         ...        ...        ...
14830  2013-09-05  8:34:11 PM  42.006587 -87.812355
14831  2013-09-05  8:35:01 PM  42.006192 -87.816015
14832  2013-09-05  8:35:21 PM  42.006022 -87.817392
14833  2013-09-05  8:35:31 PM  42.005453 -87.817423
14834  2013-09-05  8:35:41 PM  42.004805 -87.817460

[14835 rows x 4 columns]

In [60]:
spray_df.columns

Index(['Date', 'Time', 'Latitude', 'Longitude'], dtype='object')

In [61]:
spray_df.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

In [62]:
spray_df.duplicated().sum()

541

In [63]:
spray_df = spray_df.drop_duplicates()

In [64]:
spray_df.duplicated().sum()

0

In [65]:
spray_df.shape

(14294, 4)

In [66]:
spray_df2 = spray_df.interpolate()

C:\Users\DELL\AppData\Local\Temp\ipykernel_24208\591369114.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  spray_df2 = spray_df.interpolate()

In [67]:
spray_df['Time'] = spray_df['Time'].fillna(method='ffill')

C:\Users\DELL\AppData\Local\Temp\ipykernel_24208\4056623798.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  spray_df['Time'] = spray_df['Time'].fillna(method='ffill')
C:\Users\DELL\AppData\Local\Temp\ipykernel_24208\4056623798.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spray_df['Time'] = spray_df['Time'].fillna(method='ffill')

In [68]:
spray_df.isnull().sum()

Date         0
Time         0
Latitude     0
Longitude    0
dtype: int64

In [69]:
# Extract rows from index 12414 to 12434 (note: end index is exclusive)
subset_df = spray_df.iloc[12414:12435]
subset_df

             Date         Time   Latitude  Longitude
12955  2013-08-29  10:19:50 PM  41.762918 -87.707632
12956  2013-08-29  10:20:00 PM  41.763350 -87.707642
12957  2013-08-29  10:20:10 PM  41.763852 -87.707657
12958  2013-08-29  10:23:20 PM  41.764145 -87.700388
12959  2013-08-29  10:23:30 PM  41.763628 -87.700377
12960  2013-08-29  10:23:40 PM  41.763043 -87.700352
12961  2013-08-29  10:24:00 PM  41.762310 -87.700327
12962  2013-08-29  10:24:10 PM  41.761770 -87.700315
12963  2013-08-29  10:24:20 PM  41.761193 -87.700298
12964  2013-08-29  10:24:30 PM  41.760755 -87.700293
12965  2013-08-29  10:24:40 PM  41.760168 -87.700268
12966  2013-08-29  10:24:50 PM  41.759555 -87.700253
12967  2013-08-29  10:25:00 PM  41.759168 -87.700297
12968  2013-08-29  10:25:10 PM  41.759422 -87.700265
12969  2013-08-29  10:25:20 PM  41.760127 -87.700287
12970  2013-08-29  10:25:30 PM  41.760758 -87.700302
12971  2013-08-29  10:25:40 PM  41.760842 -87.700795
12972  2013-08-29  10:25:50 PM  41.760778 -87.701478
12973  2013-08-29  10:26:00 PM  41.760180 -87.701495
12974  2013-08-29  10:26:10 PM  41.759455 -87.701472
12975  2013-08-29  10:26:20 PM  41.759077 -87.701435